.btn .caret {
  margin-left: 10px;
}

.input-group-btn {
  vertical-align: bottom;
}

.searchBox {
  margin-top: 12px;
}

.btn-top {
  margin-bottom: 20px;
}

.edit {
  &-icon {
    visibility: hidden;
    float: right;
  }

  &-btn {
    width: 100%;
    background: none;
    border: 0;
    position: relative;
  }

  &-btn:hover {
    color: #118871;
  }
}

.edit-btn:hover .edit-icon {
  visibility: visible;
}

button:focus {
  outline: 0;
}

td, th {
  text-align: center;
}

.editable-click:hover, a.editable-click:hover {
  cursor: pointer;
}

.editable-wrap {
  margin-left: 15%;
}

.order-qty .editable-wrap .editable-controls > input {
  width: 20%;
}

.tooltip-inner {
    white-space: pre-wrap;
}

.hiddenRow {
    padding: 0 !important;
}

.accordion-toggle {
  cursor: pointer;
}

.well-sm {
    margin-bottom: 0;
    background: #2c3e50;
    color: #fff;
}

tr.primary {
    background: #2c3e50;
    color: #fff;
}

.well i, h4 i {
  margin-right: 5px;
}

h5 {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

a {
  cursor: pointer;
}

input:focus {
  outline: none;
}

label {
  margin-bottom: 5px;
}

.customer-photo {
  height: 10%;
  border-radius: 50px;
  margin-right: 10px;
}
