<div class="container">
    <table class="table table-hover table-bordered">
      <tr class="active">
        <th>Workshop</th>
        <th>Customer</th>
        <th>Pickup Date</th>
        <th>Pickup Time</th>
        <!-- <th>Bundles</th> -->
        <th>Total Estimated Cost</th>
        <th>Approve</th>
        <th>Print Order</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat="workshop in workshopOrders">
        <td><b>{{workshop.name}}</b></td>
        <td><div uib-tooltip="{{workshop.customer.email}}"><img class="customer-photo" ng-src="{{workshop.customer.photo}}">{{workshop.customer.name}}</div></td>
        <td>{{workshop.dateFormated}}</td>
        <td>{{workshop.timeFormated}}</td>
        <!-- <td></td> -->
        <td>${{workshop.totalCost}}</td>
        <td ng-if="!workshop.isApproved"><button class="btn btn-xs btn-primary" type="button" ng-click="approveWorkshop(workshop.id)" uib-tooltip="Approve customer order"><i class="fa fa-lg fa-arrow-circle-right" aria-hidden="true"></i> APPROVE ORDER</button></td>
        <td ng-if="workshop.isApproved"><button class="btn btn-xs btn-success" type="button" uib-tooltip="Order ready to be filled"><i class="fa fa-check" aria-hidden="true"></i> APPROVED!</button></td>

        <td><div uib-tooltip="Print all items on order"><button ng-click="printOrder(workshop)" class="btn btn-xs btn-success" type="button"><i class="fa fa-print" aria-hidden="true"></i></button></div></td>

        <td ng-if="workshop.isApproved"><button ng-click="deleteWorkshop(workshop.id)" uib-tooltip="This will remove the workshop once picked up" class="btn btn-xs btn-danger" type="button"><i class="fa fa fa-trash" aria-hidden="true"></i></button></td>
        <td ng-if="!workshop.isApproved"><div uib-tooltip="This workshop must be approved and picked up before being deleted"><button class="btn btn-xs btn-default" type="button"><i class="fa fa fa-ban" aria-hidden="true"></i></button></div></td>
      </tr>
      </tr>
  </table>
</div>
