<div class="row">

  <div class="col-md-6 col-md-offset-3">
    <!-- <div class="panel panel-primary text-center">
      <div class="panel-heading"><h4>CREATE ACCOUNT</h4></div>
      <div class="panel-footer">
        <div class="checkbox checkbox-circle">
        <input id="butcher" type="checkbox" ng-value="butcher.selectButcher">
        <label for="butcher">Butcher account?</label>
      </div>
        <span>Butcher Password:<input type="password" class="form-control input-sm" ng-model="butcher.value"></span>
        <button type="button" class="btn btn-danger btn-sm" ng-click="loginWithGoogle()">Create Account With Google</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="loginWithFacebook()">Create Account With Facebook</button>      </div>
    </div> -->

    <div class="text-center">
    	<!-- <h4>...or login with:</h4> -->
      <h4>LOGIN :)</h4>
      <button type="button" class="btn btn-danger btn-sm" ng-click="loginWithGoogle()">GOOGLE</button>
      <button type="button" class="btn btn-primary btn-sm" ng-click="loginWithFacebook()">FACEBOOK</button>
    </div>
  </div>

</div>
