<div class="container">
  <div class="row btn-top">
    <div class="col-md-4 col-xs-6">
      <button type="button" class="btn btn-success" ng-click="open()"><span type="button" class="glyphicon glyphicon-plus-sign plusCreate"></span>
         Start Conversation</button>
     </div>
  </div>
    <div class="row">
        <div class="col-md-10 messages-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 messages-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  <h4 class="glyphicon glyphicon-plane"></h4><br/>Flight
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-road"></h4><br/>Train
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-home"></h4><br/>Hotel
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-cutlery"></h4><br/>Restaurant
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-credit-card"></h4><br/>Credit Card
                </a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 messages-tab">
                <!-- flight section -->
                <div class="messages-tab-content active">
                    <center>
                      <div class="container">
                          <div class="row">
                              <div class="col-md-10">
                                  <div class="panel panel-primary">
                                      <div class="panel-heading">
                                          <span class="glyphicon glyphicon-comment"></span> Chat
                                          <div class="btn-group pull-right">
                                              <button type="button" class="btn btn-danger btn-xs">
                                                  <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                              </button>
                                          </div>
                                      </div>
                                      <div class="panel-body">
                                          <ul class="chat">
                                              <li class="left clearfix"><span class="chat-img pull-left">
                                                  <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                              </span>
                                                  <div class="chat-body clearfix">
                                                      <div class="header">
                                                          <strong class="primary-font">Jack Sparrow</strong>
                                                          <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                                      </div>
                                                      <p>
                                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                          dolor, quis ullamcorper ligula sodales.
                                                      </p>
                                                  </div>
                                              </li>
                                              <li class="right clearfix"><span class="chat-img pull-right">
                                                  <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                              </span>
                                                  <div class="chat-body clearfix">
                                                      <div class="header">
                                                          <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                                          <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                                      </div>
                                                      <p>
                                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                          dolor, quis ullamcorper ligula sodales.
                                                      </p>
                                                  </div>
                                              </li>
                                              <li class="left clearfix"><span class="chat-img pull-left">
                                                  <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                              </span>
                                                  <div class="chat-body clearfix">
                                                      <div class="header">
                                                          <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                                              <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                                                      </div>
                                                      <p>
                                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                          dolor, quis ullamcorper ligula sodales.
                                                      </p>
                                                  </div>
                                              </li>
                                              <li class="right clearfix"><span class="chat-img pull-right">
                                                  <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                              </span>
                                                  <div class="chat-body clearfix">
                                                      <div class="header">
                                                          <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                                          <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                                      </div>
                                                      <p>
                                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                          dolor, quis ullamcorper ligula sodales.
                                                      </p>
                                                  </div>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="panel-footer">
                                          <div class="input-group">
                                              <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                              <span class="input-group-btn">
                                                  <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
                                              </span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </center>
                </div>
                <!-- train section -->
                <div class="messages-tab-content">
                    <center>
                      <div class="container">
                          <div class="row">
                              <div class="col-md-10">
                                  <div class="panel panel-primary">
                                      <div class="panel-heading">
                                          <span class="glyphicon glyphicon-comment"></span> Chat
                                          <div class="btn-group pull-right">
                                              <button type="button" class="btn btn-danger btn-xs">
                                                  <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                              </button>
                                          </div>
                                      </div>
                                      <div class="panel-body">
                                          <ul class="chat">
                                              <li ng-repeat="message in conversation" class="left clearfix"><span class="chat-img pull-left">
                                                  <img ng-src="{{message.photo}}" alt="User Avatar" class="img-circle" />
                                              </span>
                                                  <div class="chat-body clearfix">
                                                      <div class="header">
                                                          <strong class="primary-font">{{message.displayName}}</strong>
                                                          <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>{{message.date}}</small>
                                                      </div>
                                                      <p>{{message.message}}</p>
                                                  </div>
                                              </li>
                                              <li class="left clearfix"><span class="chat-img pull-left">
                                                  <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                              </span>
                                                  <div class="chat-body clearfix">
                                                      <div class="header">
                                                          <strong class="primary-font">Bhaumik Patel</strong>
                                                          <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                                      </div>
                                                      <p>
                                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                          dolor, quis ullamcorper ligula sodales.
                                                      </p>
                                                  </div>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="panel-footer">
                                          <div class="input-group">
                                              <input ng-model="newMessage" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                              <span class="input-group-btn">
                                                  <button class="btn btn-warning btn-sm" ng-click="addMessage(newMessage)">Send</button>
                                              </span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </center>
                </div>

                <!-- hotel search -->
                <div class="messages-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-home" style="font-size:12em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
                    </center>
                </div>
                <div class="messages-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-cutlery" style="font-size:12em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>
                    </center>
                </div>
                <div class="messages-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-credit-card" style="font-size:12em;color:#55518a"></h1>
                      <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                      <h3 style="margin-top: 0;color:#55518a">Credit Card</h3>
                    </center>
                </div>
            </div>
        </div>
  </div>
</div>
