<div class="container">

  <div class="row btn-top">
    <div class="col-md-4 col-xs-6">
      <button type="button" class="btn btn-success" ng-click="open()"><span type="button" class="glyphicon glyphicon-plus-sign plusCreate"></span>
         Start Conversation</button>
     </div>
  </div>

  <div ng-if="!conversations.length" ng-show="!showSpinner">
    <div class="alert alert-warning">
      <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Start a new Conversation!</h4>
      <p>You currently have no conversations. Click above to start your first conversation.</p>
    </div>
    </div>
  </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 messages-tab-container">
            <div class="col-md-2 messages-tab-menu">
              <div class="list-group">
                <a ng-repeat="c in conversations" ng-click="conversations.selected = c; messageRead(c, $index); scrollConvo();" ng-class="{'active' : conversations.selected == c}" class="list-group-item text-center">
                  <span class="chat-img"><img ng-src="{{otherUser(c.fullUsers).photo}}" /></span><br/>{{otherUser(c.fullUsers).name}}<span ng-if="c.count" class="badge">{{c.count}}</span>
                </a>
              </div>
            </div>
            <div class="col-md-9 col-xs-10 messages-tab">
                <div class="messages-tab-content" ng-class="{'active': conversations.selected == c}" ng-repeat="c in conversations">
                    <center>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="panel panel-primary">
                                      <div class="panel-heading">
                                          <span class="glyphicon glyphicon-comment"></span> Chat with {{otherUser(c.fullUsers).name}}
                                          <div class="btn-group pull-right">
                                              <button ng-click="deleteConversation()" type="button" class="btn btn-danger btn-xs">
                                                  <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                              </button>
                                          </div>
                                      </div>
                                      <div class="panel-body">
                                          <ul class="chat">
                                              <li ng-repeat="m in c.messages" class="left clearfix"><span class="pull-left">
                                                  <img ng-src="{{m.authorImg}}" alt="User Avatar" class="img-circle" />
                                              </span>
                                                  <div class="chat-body clearfix">
                                                      <div class="header">
                                                          <strong class="primary-font pull-left">{{m.authorName}} <span class="text-muted" ng-if="m.authorId === loggedInUser">(you)</span></strong>
                                                          <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>{{formatDate(m.date)}}</small>
                                                      </div>
                                                      <br/>
                                                      <p class="pull-left">{{m.text}}</p>
                                                  </div>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="panel-footer">
                                          <div class="input-group">
                                              <input ng-model="newMessage" on-key-enter="addMessage(newMessage, c, $index); newMessage = ''" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                              <span class="input-group-btn">
                                                  <button class="btn btn-warning btn-sm"  ng-click="addMessage(newMessage, c, $index); newMessage = ''">Send</button>
                                              </span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                    </center>
                </div>
            </div>
        </div>
  </div>

</div>
