<div class="container">
  <div class="row btn-top">
    <div class="col-md-4 col-xs-6">
      <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span type="button" class="glyphicon glyphicon-plus-sign plusCreate"></span> Add A New Order<span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a ng-click="open(false)">Add Order</a></li>
          <li><a ng-click="open(true)">Add Custom Order</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <h2>{{workshop.name}}</h2>
      <h4>{{workshop.date}} | {{workshop.time}}</h4>
    </div>
  </div>

  <table ng-if="orders.length" class="table table-hover table-bordered">
    <tr class="active">
      <th>Total Bundles Ordered</th>
      <th>Total Estimated Cost</th>
    </tr>
    <tr>
      <td>{{totalBundles}}</td>
      <td>${{totalCost.toFixed(2)}}</td>
    </tr>
  </table>

  <table ng-if="orders.length" class="table table-hover table-bordered">
    <tr class="active">
      <th>Bundle Name</th>
      <th>Quantiy</th>
      <th>Cost Per Bundle</th>
      <th>Total Cost for Bundles</th>
      <th>Delete All</th>
    </tr>
    <tr ng-repeat="order in orders">
      <td><b>{{order.bundleName}}</b></td>
      <td>{{order.quantity}}</td>
      <td>${{order.bundlePrice}}</td>
      <td>${{(order.bundlePrice * order.quantity).toFixed(2)}}</td>
      <td><button ng-click="deleteOrder(order.id)" uib-tooltip="This will delete all {{order.quantity}} bundles" class="btn btn-xs btn-danger" type="button"><i class="fa fa fa-trash" aria-hidden="true"></i></button></td>
    </tr>
  </table>

  <div ng-show="!orders.length" class="ng-hide alert alert-warning">
    <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No Orders Added</h4>
    <p>You have not added any orders to this workshop.  Click the <b>Add a New Order</b> button above to get started.</p>
  </div>
</div>
