<div class="container">
  <div class="row btn-top">
    <div class="col-md-4 col-xs-6">
      <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span type="button" class="glyphicon glyphicon-plus-sign plusCreate"></span> Add A New Order<span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a ng-click="open(false)">Add Order</a></li>
          <li><a ng-click="open(true)">Add Custom Order</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-if="orders.length" class="col-md-6" ng-repeat="order in orders">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><b>{{order.bundleName}} (qty: {{order.quantity}})</b> | <span class="badge">${{order.bundlePrice}}</span></h4>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li ng-repeat="meal in order.meals" class="list-group-item">
            {{meal.meal}} | {{meal.meat}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-show="!orders.length" class="ng-hide alert alert-warning">
    <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No Orders Added</h4>
    <p>You have not added any orders to this workshop.  Click the <b>Add a New Order</b> button above to get started.</p>
  </div>
</div>
