<div class="modal-header">
    <h3 class="modal-title">{{isEditing ? 'Update Order' : 'Add New Order'}}</h3>
</div>
<div class="modal-body">

  <div class="row">

    <div class="col-md-6 col-md-offset-1">
      <div class="form-group">
        <label>Select Bundle:</label>
        {{selectedBundle}}
        <select class="form-control"
                ng-model="selectedBundle"
                ng-options="bundle.name for bundle in order.bundles"
                ng-change="getMeals()">
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group">
        <label>Quantity:</label>
        <input type="number" ng-model="quantity" class="form-control"/>
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group">
        <label uib-tooltip="Select YES if replacing any meats">Special Order?</label>
        <select class="form-control"
                ng-init="specialOrder = specialOrderOption[1].value"
                ng-model="specialOrder"
                ng-options="option.value as option.text for option in specialOrderOption"
                ng-change="setSpecialOrder()">
        </select>
      </div>
    </div>
  </div>

  <div class="row" ng-if="showMeals">
    <div class="col-md-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr class="active">
            <th>Meal Number</th>
            <th>Meal Name</th>
            <th>Meat Needed</th>
          </tr>
      </thead>
        <tr ng-repeat="meal in meals">
          <td>{{meal.index}}</td>
          <td>{{meal.meal}}</td>
          <td ng-if="specialOrder" editable-text="meal.meat">{{meal.meat}}</td>
          <td ng-if="!specialOrder">{{meal.meat}}</td>

        </tr>
      </table>
    </div>
  </div>

</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="close()">Close</button>
    <button class="btn btn-success" ng-show="{{!isEditing}}" ng-click="addOrder(meals, quantity)">Add Order</button>
    <button class="btn btn-success" ng-show="{{isEditing}}" ng-click="updateOrder(order, order.id)">Update Order</button>
</div>
