<div class="modal-header">
    <h3 class="modal-title">{{isEditing ? 'Update Order' : 'Add New Order'}}</h3>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="sel1">Select Bundle:</label>
        <select class="form-control" id="sel1">
          <option ng-repeat="bundle in order.bundles">{{bundle.name}}  ${{bundle.price}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <label for="workshopDate">Quantity:</label>
        <input type="number" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
    </div>
  </div>

</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="close()">Close</button>
    <button class="btn btn-success" ng-show="{{!isEditing}}" ng-click="addWorkshop()">Add Order</button>
    <button class="btn btn-success" ng-show="{{isEditing}}" ng-click="updateWorkshop(workshop, workshop.id)">Update Order</button>
</div>
