<div class="modal-header">
    <h3 class="modal-title">{{isEditing ? 'Update Order' : 'Add New Order'}}</h3>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="sel1">Select Bundle:</label>
        <select class="form-control"
                ng-model="selectedBundle"
                ng-options="bundle.name for bundle in order.bundles"
                ng-change="getMeals()">
        </select>
        {{selectedBundle}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <label for="workshopDate">Quantity:</label>
        <input type="number" ng-model="quantity" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="row" ng-if="showMeals">
    <div class="col-md-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr class="active">
            <th>Meal Number</th>
            <th>Meal Name</th>
            <th>Meat Needed</th>
          </tr>
      </thead>
        <tr ng-repeat="meal in meals">
          <td>{{meal.index}}</td>
          <td>{{meal.meal}}</td>
          <td>{{meal.meat}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="close()">Close</button>
    <button class="btn btn-success" ng-show="{{!isEditing}}" ng-click="addOrder(meals, quantity, selectedBundle.name)">Add Order</button>
    <button class="btn btn-success" ng-show="{{isEditing}}" ng-click="updateOrder(order, order.id)">Update Order</button>
</div>
