<div class="modal-header">
    <h3 class="modal-title">{{isEditing ? 'Update Workshop' : 'Add New Workshop'}}</h3>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-md-12">
      <label for="workshopName">Workshop Name:</label>
      <input type="text" class="form-control" name="workshopName" ng-model="workshop.name"/>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="input-group">
        <label for="workshopDate">Pickup Date:</label>
        <input type="text" class="form-control" name="workshopDate" uib-datepicker-popup="{{options.format}}" ng-model="workshop.date" is-open="datePickerOpened" datepicker-options="options" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePicker()">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
      </div>
    </div>

    <div class="col-md-6">
      <label for="workshopName">Pickup Time:</label>
      <input type="time" class="form-control" name="workshopName" ng-model="workshop.time"/>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <label for="Bundles">Select Bundles for Workshop:</label>
      <multiple-autocomplete ng-model="bundleSelected" object-property="name" suggestions-arr="bundleOptions">
      </multiple-autocomplete>
    </div>
  </div>

</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="close()">Close</button>
    <button class="btn btn-success" ng-show="{{!isEditing}}" ng-click="addWorkshop()">Add Workshop</button>
    <button class="btn btn-success" ng-show="{{isEditing}}" ng-click="updateWorkshop(workshop)">Update Workshop</button>
</div>
